<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice</title>
    <link rel="stylesheet" type="text/css" th:href="${css/common.css}">
</head>
<body>
    <h2>Practice page</h2>
    <div class="inputBox">
        <label for="id">
            <input type="text" name="id" id="id" placeholder="id를 입력하세요.">
        </label>
        <label for="password">
            <input type="password" name="password" id="password" placeholder="비밀번호를 입력하세요.">
        </label>
        <button>로그인</button>
    </div>

</body>
</html>