<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="crud.menu.model.dao.MenuMapper">
    <resultMap id="menuResultMap" type="crud.menu.model.dto.MenuDTO">
        <id property="code" column="MENU_CODE"/>
        <result property="name" column="MENU_NAME"/>
        <result property="price" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="crud.menu.model.dto.CategoryDTO">
        <id property="code" column="CATEGORY_CODE"/>
        <result property="name" column="CATEGORY_NAME"/>
        <result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
    </resultMap>

    <select id="findAllMenu" resultMap="menuResultMap">
        SELECT
              MENU_CODE,
              MENU_NAME,
              MENU_PRICE,
              CATEGORY_CODE,
              ORDERABLE_STATUS
         FROM TBL_MENU
        WHERE ORDERABLE_STATUS = 'Y'
        ORDER BY MENU_CODE
    </select>

    <select id="findAllCategory" resultMap="categoryResultMap">
        SELECT
              CATEGORY_CODE,
              CATEGORY_NAME,
              REF_CATEGORY_CODE
         FROM TBL_CATEGORY
    </select>

    <insert id="registNewMenu" parameterType="crud.menu.model.dto.MenuDTO">
        INSERT INTO TBL_MENU
        (
            MENU_NAME,
            MENU_PRICE,
            CATEGORY_CODE,
            ORDERABLE_STATUS
        )
        VALUES
        (
            #{name},
            #{price},
            #{categoryCode},
            #{orderableStatus}
        )
    </insert>

    <update id="modifyMenu" parameterType="crud.menu.model.dto.MenuDTO">
        UPDATE TBL_MENU
           <set>
               <if test="name != null and name != ''">
                   MENU_NAME = #{name}
               </if>
               <if test="price != null and price != ''">
                   ,MENU_PRICE = #{price}
               </if>
               <if test="categoryCode != null and categoryCode != ''">
                   ,CATEGORY_CODE = #{categoryCode}
               </if>
               <if test="orderableStatus != null and orderableStatus != ''">
                   ,ORDERABLE_STATUS = #{orderableStatus}
               </if>
           </set>
        WHERE MENU_CODE = #{code}
    </update>

    <delete id="deleteMenu" parameterType="crud.menu.model.dto.MenuDTO">
        DELETE FROM TBL_MENU
<!--            <trim prefix="WHERE" prefixOverrides="OR">-->
<!--                <if test="code != null and code != ''">-->
<!--                    MENU_CODE = #{code}-->
<!--                </if>-->
<!--                <if test="name != null and name != ''">-->
<!--                    OR MENU_NAME LIKE('%', #{name}, '%')-->
<!--                </if>-->
<!--            </trim>-->
<!--        <where>-->
<!--            <if test="code != null and code != ''">-->
<!--                MENU_CODE = #{code}-->
<!--            </if>-->
<!--            <if test="name != null and name != ''">-->
<!--                MENU_NAME LIKE('%', #{name}, '%')-->
<!--            </if>-->
<!--        </where>-->
        WHERE MENU_CODE = #{code}
    </delete>
</mapper>