<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="practice.xml.EmployeeMapper">
    <resultMap id="employeeResultMap" type="practice.common.EmployeeDTO">
        <id property="id" column="EMP_ID"/>
        <result property="name" column="EMP_NAME"/>
        <result property="empCode" column="EMP_NO"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="depCode" column="DEPT_CODE"/>
        <result property="jobCode" column="JOB_CODE"/>
        <result property="salLevel" column="SAL_LEVEL"/>
        <result property="salary" column="SALARY"/>
        <result property="bonus" column="BONUS"/>
        <result property="managerId" column="MANAGER_ID"/>
        <result property="hireDate" column="HIRE_DATE"/>
        <result property="entDate" column="ENT_DATE"/>
        <result property="entYear" column="ENT_YEAR"/>
    </resultMap>
    <select id="selectAllEmployee" resultMap="employeeResultMap">
        SELECT
              EMP_ID,
              EMP_NAME,
              EMP_NO,
              EMAIL,
              PHONE,
              DEPT_CODE,
              JOB_CODE,
              SAL_LEVEL,
              SALARY,
              BONUS,
              MANAGER_ID,
              HIRE_DATE,
              ENT_DATE,
              ENT_YN
         FROM EMPLOYEE
    </select>

    <select id="selectEmployeeByCode" resultMap="employeeResultMap">
        SELECT
              EMP_ID,
              EMP_NAME,
              EMP_NO,
              EMAIL,
              PHONE,
              DEPT_CODE,
              JOB_CODE,
              SAL_LEVEL,
              SALARY,
              BONUS,
              MANAGER_ID,
              HIRE_DATE,
              ENT_DATE,
              ENT_YN
         FROM EMPLOYEE
        WHERE EMP_ID = #{ id }
    </select>

    <insert id="registEmployee" parameterType="hashmap">
        INSERT INTO EMPLOYEE
        (
            EMP_ID,
            EMP_NAME,
            EMP_NO,
            JOB_CODE,
            SAL_LEVEL
        )
        VALUES
        (
            (SELECT NUM FROM (SELECT COUNT(EMP_ID) + 201 AS NUM FROM EMPLOYEE) AS T),
            #{ name },
            #{ empCode },
            #{ jobCode },
            #{ salLevel }
        )
    </insert>
    <update id="modifyEmployee" parameterType="practice.common.EmployeeDTO">
        UPDATE EMPLOYEE
           SET EMP_NAME = #{ name }
         WHERE EMP_ID = #{ id }
    </update>
    <delete id="deleteEmployee" parameterType="int">
        DELETE FROM EMPLOYEE
         WHERE EMP_ID = #{ id }
    </delete>
</mapper>
