<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idol.xmlmapper.IdolMapper">
    <resultMap id="idolResultMap" type="idol.common.IdolDTO">
        <id property="groupCode" column="GROUP_CODE"/>
        <result property="groupName" column="GROUP_NAME"/>
        <result property="groupCount" column="GROUP_COUNT"/>
        <result property="entName" column="ENT_NAME"/>
        <result property="hitSong" column="HITSONG"/>
        <result property="fandumName" column="FANDUM_NAME"/>
        <result property="debYear" column="DEB_YEAR"/>
        <result property="disYear" column="DIS_YEAR"/>
        <result property="disYN" column="DIS_YN"/>
    </resultMap>
    <select id="selectAllIdol" resultMap="idolResultMap">
        SELECT
              GROUP_CODE,
              GROUP_NAME,
              GROUP_COUNT,
              ENT_NAME,
              HITSONG,
              FANDUM_NAME,
              DEB_YEAR,
              DIS_YEAR,
              DIS_YN
         FROM IDOL_GROUP
    </select>
    <select id="selectIdolByInfo" parameterType="hashmap" resultMap="idolResultMap">
        SELECT
              GROUP_CODE,
              GROUP_NAME,
              GROUP_COUNT,
              ENT_NAME,
              HITSONG,
              FANDUM_NAME,
              DEB_YEAR,
              DIS_YEAR,
              DIS_YN
         FROM IDOL_GROUP
        <if test="searchCondition != null and searchCondition != ''">
            <where>
                <if test="searchCondition == 'groupCode'">
                    GROUP_CODE = #{ searchItem }
                </if>
                <if test="searchCondition == 'groupName'">
                    GROUP_NAME LIKE CONCAT('%', #{ searchItem }, '%')
                </if>
                <if test="searchCondition == 'hitSong'">
                    HITSONG LIKE CONCAT('%', #{ searchItem }, '%')
                </if>
                <if test="searchCondition == 'fandumName'">
                    FANDUM_NAME LIKE CONCAT('%', #{ searchItem }, '%')
                </if>
            </where>
        </if>
    </select>
    <insert id="insertNewIdol" parameterType="hashmap">
        INSERT INTO IDOL_GROUP
        (
            GROUP_NAME,
            GROUP_COUNT,
            HITSONG
        )
        VALUES(
            #{ groupName },
            #{ groupCount },
            #{ hitSong }
        )
    </insert>
    <update id="modifyIdol" parameterType="hashmap">
        UPDATE IDOL_GROUP
        SET
            ENT_NAME = #{ entName }
        <where>
            <if test="updateStandardName != '' and updateStandardName != null">
                GROUP_NAME LIKE CONCAT('%', #{ updateStandardName }, '%')
            </if>
            <if test="updateStandardCode != '' and updateStandardCode != null">
                GROUP_CODE = #{ updateStandardCode }
            </if>
        </where>
    </update>
    <delete id="deleteIdol" parameterType="hashmap">
        DELETE FROM IDOL_GROUP
        <where>
            <if test="updateStandardName != '' and updateStandardName != null">
                GROUP_NAME LIKE CONCAT('%', #{ updateStandardName }, '%')
            </if>
            <if test="updateStandardCode != '' and updateStandardCode != null">
                GROUP_CODE = #{ updateStandardCode }
            </if>
        </where>
    </delete>
    
    <resultMap id="idolAndHitSongResultMap" type="idol.common.HitSongAndIdolDTO">
        <id property="hitCode" column="HIT_CODE"/>
        <result property="hitName" column="HIT_NAME"/>
        <result property="groupCode" column="GROUP_CODE"/>
        <result property="groupName" column="GROUP_NAME"/>
        <result property="hitYear" column="HIT_YEAR"/>
        <result property="albumName" column="ALBUM_NAME"/>
        <result property="titleYn" column="TITLE_YN"/>
<!--        <association property="groupName" resultMap="idolResultMap2"/>-->
    </resultMap>
<!--    <resultMap id="idolResultMap2" type="idol.common.IdolDTO">-->
<!--        <id property="groupCode" column="GROUP_CODE"/>-->
<!--        <result property="groupName" column="GROUP_NAME"/>-->
<!--    </resultMap>-->
    <select id="selectAllHitSong" parameterType="hashmap" resultMap="idolAndHitSongResultMap">
        SELECT
              A.HIT_CODE,
              A.HIT_NAME,
              B.GROUP_NAME,
              A.HIT_YEAR,
              A.ALBUM_NAME,
              A.TITLE_YN
         FROM HITSONG A
         JOIN IDOL_GROUP B ON (A.GROUP_CODE = B.GROUP_CODE)
        <if test="searchCondition != null and searchCondition != ''">
            <where>
                <if test="searchCondition == 'groupCode'">
                    A.GROUP_CODE = #{ searchItem }
                </if>
                <if test="searchCondition == 'groupName'">
                    B.GROUP_NAME LIKE CONCAT('%', #{ searchItem }, '%')
                </if>
                <if test="searchCondition == 'hitSong'">
                    A.HIT_NAME LIKE CONCAT('%', #{ searchItem }, '%')
                </if>
            </where>
        </if>
    </select>
    <insert id="insertNewHitSong" parameterType="hashmap">
        INSERT INTO HITSONG
        (
        HIT_NAME,
        HIT_YEAR,
        ALBUM_NAME,
        TITLE_YN
        )
        VALUES(
        #{ hitName },
        #{ hitYear },
        #{ albumName },
        #{ titleYn }
        )
    </insert>
    <update id="insertNewHitSong2" parameterType="hashmap">
        UPDATE IDOL_GROUP
           SET
               HITSONG = #{ HIT_NAME }
         WHERE GROUP_NAME LIKE CONCAT('%', #{ groupName }, '%')
    </update>
</mapper>
