@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner_img {
  0% {
    opacity: 1;
    background-image: url("../../../public/images/commons/logo.png");
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background-image: url("../../../public/images/commons/logo.png");
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-image: url("../../../public/images/commons/logo.png");
  }
}

@keyframes changecolor {
  0% {
    opacity: 1;
    color: #ffffff;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: var(--main-color);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #ffffff;
  }
}

@keyframes bgc {
  0% {
    background-color: var(--main-color);
  }
  25% {
    background-color: var(--point-color);
  }
  50% {
    background-color: #ffffff;
  }
  75% {
    background-color: var(--point-color);
  }
  100% {
    background-color: var(--main-color);
  }
}

.loadingSpinner {width: 500px;height: 500px;border: 20px solid #f3f3f3; border-top: 20px solid var(--main-color); border-radius: 50%;animation: spinner 1.5s linear infinite;}
.spinnerContents {display: flex;flex-direction: column;align-items: center;}
.loading_cotents {display: flex; flex-direction: column;align-items: center; margin-top: -450px;}
.loading_img {width: 300px; height: 300px; margin-left: 20px; background: center / 300px 300px no-repeat url("../../../public/images/commons/logo_white.png"); animation: spinner_img 3s linear infinite;}
.spinnerContainer {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 600; display: flex; justify-content: center; align-items: center; animation: bgc 5s linear infinite;}
.loadingText {font-size: 36px; font-weight: 600; animation: changecolor 5s linear infinite;}
p.loadingText:first-of-type {padding-top: 20px; padding-bottom: 5px;}